body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    width: 350px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
