name: Deploy Python App to Azure Web App

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create ZIP package
      run: |
        cd api-server
        zip -r ../app.zip .

    - name: Upload deployment artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: python-app

    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F3BDDDA58DDF492383D726ADDBDF9E62 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_56CB0AA2202249F9AFCDF9DB093D8316 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7DA6CEE8F254445E947F594026064DEA }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: thermostatproject
        package: app.zip
        clean: true
